.apresentation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    background-color: #000;
    color: rgb(220, 220, 220);

    padding-top: 7%;
    padding-bottom: 10px;
    min-height: 100vh;
    height: auto;
}

.apresentation .title {
    margin-bottom: 15px;
}

.apresentation .my-name {
    font-size: 40px;
    font-weight: 700;
}

.apresentation .my-job {
    font-size: large;
    font-stretch: condensed;
    color: rgb(120, 120, 120);
}

.apresentation .resume {
    width: 100%;
    align-items: center;
}

.apresentation .my-infos {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.apresentation .my-infos p {
    line-height: 33px;
}

.apresentation .image {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.apresentation .image img {
    scale: 1;
    max-width: 100%;
    animation: floatAnimation 8s infinite;
}

.social {
    grid-column: 2;
}

.social a {
    text-decoration: none;
    color: white;
    margin: 7px;
}

.social i {
    transition: 0.5s;
}

.social i:hover {
    scale: 1.2;
    transition: 0.2s;
}

.skill {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    grid-column: span 2;
    color: rgb(192, 192, 192);
    text-align: center;
    font-size: 40px;

    margin-top: 30px;
    margin-bottom: 100px;
}

.skill i {
    margin: 7px;
    transition: 0.5s;
}

.skill div {
    display: none;
}

.skill i:hover {
    color: white;
    scale: 1.2;
    transition: 0.2s;
}

.skill .fa-html5:hover {
    color: #E34F26;
}

.skill .fa-css3-alt:hover {
    color: #1572B6;
}

.skill .fa-square-js:hover {
    color: #F7DF1E;
}

.skill .fa-bootstrap:hover {
    color: #563D7C;
}

.skill .fa-git-alt:hover {
    color: #F05133;
}

.skill .fa-figma:hover {
    color: #0ACF83;
}

.tooltip {
    opacity: 1;
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #fff;
    color: #292929;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1000;

    width: 100px;
    bottom: 100%;
    left: 50%;
    margin-left: -50px;
    margin-bottom: 10px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    transition: 0.5s;
}

.tooltip i {
    font-size: 45px;
}

.tooltip a i {
    font-size: 35px;
}

@keyframes floatAnimation {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }
}

@media screen and (width < 768px) {
    .apresentation {
        grid-template-columns: 100%;
        height: auto;
    }

    .apresentation .image {
        grid-column: span 2;
        margin-top: 80px;

    }

    .social {
        text-align: center;

        margin-bottom: 10px;
    }
}

@media screen and (height < 700px) {
    .apresentation {
        display: grid;
        grid-template-columns: 30% 70%;
    
    }

    .apresentation .my-name {
        font-size: 30px;
        font-weight: 700;
    }

    .apresentation .my-infos p {
        line-height: 25px;
    }

    .tooltip a i {
        font-size: 30px;
    }

    .skill {
        margin-top: 0;
    }

    .skill i {
        font-size: 38px;
    }
}