* {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
}

#apresentation {
    margin-top: 56px;
}

.half {
    display: inline-block;
    vertical-align: top;
    width: 45%;
}

.my-padding {
    padding-right: 8%;
    padding-left: 8%;
}

.mtop-1 {
    margin-top: 10px;
}

.f-size-20 {
    font-size: 50px;
    max-width: 40%;
}

.left {
    background-color: red;
    max-width: 50%;
    float: left;
}

.right {
    max-width: 50%;
    float: right;
    background-color: green;
}

/* .card-project {
    background-color: aqua;
    margin: 0 auto;
    max-width: 80%;
    width: 80%;
    height: 20rem;
    border-radius: 12px;
} */

.container {
    margin-top: 3%;
}

.icon-contact {
    color: #212529;
    font-size: 500%;
}

.tools i {
    margin: 10px;
    font-size: 4vh;
}

/* #apresentation {
    margin-top: 15%;
    max-width: 100%;
    height: auto;
}

#apresentation .title {
    max-width: 10%;
    font-size: 4vw;
} */

#scroll-animation {
    position: absolute;
    top: 80%;
    width: 50px !important;
    margin-top: 5%;
    margin-bottom: 5%;
}

#my-image {
    /* border-radius: 12px; */
    max-width: 60%;
    /* margin-top: 20%; */
    /* width: 50%; */

    /* animation: go-back 3s infinite alternate; */
}

@media screen and (width < 768px) {
    .half {
        width: 100%;
        margin: 0;
        margin-top: 1%;
    }
}