.project {
    background-color: rgb(255, 255, 255);
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
}

.project h1 {
    text-align: center;

    font-weight: 700;
    /* font-size: 00%; */

    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
}

.projects {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* Centraliza horizontalmente */
}

.show-project-img {
    display: flex;
    align-items: center;
    padding: 40px;
}

.project-img,
.text-span {
    flex: 1;
    /* Para ambos os elementos ocuparem 50% da largura */
    display: inline-block;
    vertical-align: top;
}

.text-span {
    padding: 10px;
}

.show-project-img img {
    width: 30%;
}

.show-project-img:hover {
    scale: 1.0;
    transition: 0.5s;
}

.project-img img {
    /* display: block; */

    margin: 0;

    border-radius: 8px;

    min-width: 300px;
    width: 100%;
    padding: 20px;
    /* height: 169px; */
    /* max-height: 50%; */

    transition: 0.5s;
    /* box-shadow: 5px 5px 5px rgb(0, 0, 0, 25%); */

}

.show-project img {
    display: block;
    margin: 0 auto;
    padding-top: 2%;
    border-radius: 12px;
    /* width: 96%; */
    max-width: 96%;
    height: auto;
    max-height: 40%;
}

.skill-used i {
    font-size: 3vw;
}

.show-project:hover {
    scale: 1.02;
    transition: 0.5s;
}

.btn-access-project {
    background-color: #292929;
    padding: 10px 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

@media screen and (width < 768px) {
    .project {
        padding-left: 0px;
        padding-right: 0px;
    }

    .projects {
        display: flex;
        flex-direction: column;
        /* Organiza os projetos em coluna */
        align-items: center;
        /* Centraliza horizontalmente */
    }

    .show-project-img {
        color: rgb(0, 0, 0);
        width: 80%;
        margin-bottom: 20px;
    }

    .project-img,
    .text-span {
        /* Para ambos os elementos ocuparem 50% da largura */
        display: table-column;
    }
}