.project {
    background-color: rgb(255, 255, 255);

    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
}

.project h1 {
    text-align: center;

    font-weight: 700;

    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
}

.show-project-img {
    display: flex;

    align-items: center;
    text-align: center;
}

.project-img,
.text-span {
    flex: 1;
    display: inline-block;
    vertical-align: top;
}

.text-span {
    padding: 10px;
}

.show-project-img:hover {
    scale: 1.0;

    transition: 0.5s;
}

.project-img img {
    margin: 0;

    border-radius: 15px;

    min-width: 300px;
    width: 100%;

    transform: scale(0.75);
    box-shadow: 0 60px 123px -25px rgba(112, 112, 112, 0.6);
    transition: 0.6s;
}

.project-img img:hover {
    scale: 1.1;
}

.project-img:hover img {
    transition: 0.6s;
}

.show-project-img h3 {
    color: #292929;
}

.show-project-img p {
    color: rgb(150, 150, 150);
}

.skill-used i {
    font-size: 3vw;
}

.show-project:hover {
    scale: 1.02;

    transition: 0.5s;
}

.tech-used {
    font-size: xx-large;
    margin-bottom: 10px;
}

.tech-used .fa-html5 {
    color: #E34F26;
}

.tech-used .fa-css3-alt {
    color: #1572B6;
}

.tech-used .fa-square-js {
    color: #F7DF1E;
}

.tech-used .fa-bootstrap {
    color: #563D7C;
}

.btn-access-project {
    padding: 10px 30px;

    text-decoration: none;
    border-style: solid;
    border-width: 1px;

    border-color: #292929;
    color: #292929;

    transition: 0.5s;
}

.btn-access-project:hover {
    background-color: #292929;
    color: white;

    transition: 0.5s;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

@media screen and (width < 768px) {
    .project {
        background-color: rgb(255, 255, 255);
    
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
    }

    .show-project-img {
        display: flex;
        flex-direction: column;
    }

    .show-project-img img{
        color: rgb(0, 0, 0);

        margin-bottom: 0px;
    }

    .text-span {     
        width: 100%;
        margin-bottom: 40px;
    }

    .position-1 {
        order: 2
    }

    .position-2 {
        order: 1;
    }


}