.project {
    background-color: aqua;
    height: 1500px;
}
.card-project {
    border: 5px;
    border-color: white;
    border-radius: 12px;
    
    background-color: aqua;

    display: inline-block;
    vertical-align: top;

    width: 32%;
    height: 200px;
    margin: 0.5%;

    transition: 0.5s;
}

.card-project:hover {
    scale: 1.02;
    transition: 0.5s;

}

/* .skill {
    text-align: center;
    font-size: 40px;

    margin-top: 30px;
}

.skill i {
    margin: 7px;
}

.skill i:hover {
    color: gray;
    scale: 1.1;
    transition: 0.4s;
} */


@media screen and (width < 768px) {
    .card-project {
        width: 100%;
        margin: 0;
        margin-top: 1%;
    }
}