.skill-status {
    background-color: #fff;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 25px;
}

/* .skills {
    display: inline-block;
} */

.skill-container {
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 12px;

    transition: 0.3s;

    /* width: 160px; */

}

.html:hover{
    background-color: #E34F26;
    border-color: #E34F26;
    color: #fff;

    transition: 0.3s;
}

.css:hover{
    background-color: #1572B6;
    border-color: #1572B6;
    color: #fff;

    transition: 0.3s;
}

.css:hover{
    background-color: #1572B6;
    border-color: #1572B6;
    color: #fff;

    transition: 0.3s;
}

.js:hover{
    background-color: #F7DF1E;
    border-color: #F7DF1E;
    color: #000;

    transition: 0.3s;
}

.php:hover{
    background-color: #563D7C;
    border-color: #563D7C;
    color: #fff;

    transition: 0.3s;
}

.skill-name{
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (width < 768px) {
    .skill-status {
        padding-left: 10px;
        padding-right: 0px;
    }
}