body{
    background-image: url(./img/5570173.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}